$primary-dark: #1e3335;
$primary-grey: #a7bbbb;
$primary-light: #f5f6f8;

* {
    box-sizing: border-box;
    color: $primary-dark;
    font-family: 'Lora', serif;
}

body {
    background-color: $primary-light;
    margin: 0;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0;
}

h3, h4, h5 {
    font-weight: lighter;
    margin: 0;
}

h1 { font-size: 64px; }
h2 { font-size: 32px; }
h3 { font-size: 22px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }

ul {
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-background {
    background-image: url("https://farm1.staticflickr.com/429/31517055981_e4a45f25ac_h.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.title {
    background: $primary-light;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 70px auto 0;
    opacity: 0.8;
    padding: 20px 0;
    position: absolute;
    width: 100%;

    h1 {
        margin: 0 0 10px 0;
        text-align: center;
    }

    .links {
        display: block;
        text-align: center;

        a {
            text-decoration: none;
            margin: 0 10px;
            opacity: 0.8;
            transition: opacity 0.3s;

            &:hover {
                opacity: 1;
            }
        }

        svg {
            height: 24px;
            width: 24px;
        }

        .icon-linkedin g path,
        .icon-github path,
        .icon-flikr path:first-child,
        .icon-instagram g {
            fill: $primary-dark;
        }

        .icon-mail g {
            stroke: $primary-dark;
        }

        .icon-flikr path:nth-child(2) {
            fill: $primary-grey;
        }
    }
}

.content-section {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    max-width: 900px;
    min-width: 700px;
    padding: 90px 10% 120px;
    width: 70%;

    h2 {
        margin: 0 0 50px;
        text-align: center;
    }

    &.about {
        text-align: justify;

        .drop-cap {
            font-size: 18px;
            margin: 0 10px 0 0;
        }
    }

    &.resume {

        ul {
            margin-bottom: 10px;
        }

        li:before {
            content: '-';
            margin: 0 5px 0 0;
        }

        .resume-section {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
