* {
  box-sizing: border-box;
  color: #1e3335;
  font-family: 'Lora', serif; }

body {
  background-color: #f5f6f8;
  margin: 0; }

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin: 0; }

h3, h4, h5 {
  font-weight: lighter;
  margin: 0; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

ul {
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0; }

button {
  font-family: 'Raleway', sans-serif; }

.hidden {
  display: none; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }
.loading-indicator i {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border: 3px solid #1e3335;
  border-radius: 4px;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.71, 0.25, 0.31, 0.86); }
.loading-indicator i:first-child {
  opacity: 0.4; }
.loading-indicator i:nth-child(2) {
  animation-delay: 0.05s;
  opacity: 0.1; }
.loading-indicator i:last-child {
  animation-delay: 0.1s;
  opacity: 0.05; }

.bg-img {
  background-image: url("https://farm1.staticflickr.com/429/31517055981_e4a45f25ac_h.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 0; }
  .bg-img.is-showing {
    opacity: 1; }

.bg-img-loading-helper {
  display: none; }

.title {
  background: #f5f6f8;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 70px auto 0;
  opacity: 0.8;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .title h1 {
    margin: 0 0 10px 0;
    text-align: center; }
  .title .links {
    display: block;
    text-align: center; }
    .title .links a {
      text-decoration: none;
      margin: 0 8px;
      opacity: 0.8;
      transition: opacity 0.3s; }
      .title .links a:hover {
        opacity: 1; }
    .title .links svg {
      height: 24px;
      width: 24px; }
    .title .links .icon-linkedin g path,
    .title .links .icon-github path,
    .title .links .icon-codepen path,
    .title .links .icon-flikr path:first-child,
    .title .links .icon-instagram g {
      fill: #1e3335; }
    .title .links .icon-mail g {
      stroke: #1e3335; }
    .title .links .icon-flikr path:nth-child(2) {
      fill: #a7bbbb; }

.button-group {
  height: 20px;
  margin-top: 20px;
  text-align: center; }
  .button-group button {
    border: none;
    background: none;
    color: #a7bbbb;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: color 0.3s, font-size 0.3s; }
    .button-group button:hover {
      color: #11747d; }
    .button-group button.is-selected {
      color: #1e3335;
      font-size: 20px; }

.content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  height: 517px;
  margin: 20px auto 40px;
  max-width: 900px;
  min-width: 700px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: height 0.3s;
  width: 70%; }

.content-section {
  opacity: 0;
  padding: 90px 15% 100px;
  position: absolute;
  transition: opacity 0.3s; }
  .content-section h2 {
    margin: 0 0 50px;
    text-align: center; }
  .content-section.is-showing {
    opacity: 1; }
  .content-section.about {
    text-align: justify; }
    .content-section.about .drop-cap {
      font-size: 20px;
      margin: 0 10px 0 0; }
  .content-section.resume {
    text-align: left; }
    .content-section.resume ul {
      margin-bottom: 10px; }
    .content-section.resume li:before {
      content: '-';
      margin: 0 5px 0 0; }
    .content-section.resume .resume-section {
      margin-bottom: 20px; }
      .content-section.resume .resume-section:last-child {
        margin-bottom: 0; }

/*# sourceMappingURL=styles.css.map */
